@page "/"
@namespace BlazorBffAzureAD.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Blazor AAD Cookie</title>
    <base href="~/" />
    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
    <link rel="stylesheet" href="styles.ef46db3751d8e999.css">
</head>
<body>

    <app-root></app-root>
    <script src="runtime.37059233034b21c2.js" type="module"></script>
    <script src="polyfills.3a598513346f0557.js" type="module"></script>
    <script src="main.24867ec0952a6d92.js" type="module"></script>


</body>
</html>
