<div>Security architecture BFF with Angular nx</div>

<div *ngIf="isAuthenticated; else noAuth">
  <button (click)="callApi()">Call API</button>
  <form method="post" action="api/Account/Logout">
    <button class="btn btn-link" type="submit">Sign out</button>
  </form>
</div>

<ng-template #noAuth>
  <a class="btn btn-link" href="api/Account/Login">Log in</a>
</ng-template>

<hr />
<br />
Is authenticated: {{ isAuthenticated }}

<h2>User profile:</h2>
<pre>{{ userProfileClaims | json }}</pre>

<h2>API data:</h2>
<pre>
  {{ dataFromAzureProtectedApi$ | async | json }}
</pre>
